<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Iced Tea Has The Following Code</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.22/angular-ui-router.js"></script>
</head>
<body ng-app="blogIcedTea" ng-controller="rootController">
<div ui-view></div>
<script src="/app.js"></script>
<script src="/component/home/homeController.js"></script>
<script src="/component/home/rootController.js"></script>
<script src="/share/commons/blogIcedTea.common.js"></script>
<script src="/share/sevices/homeService.js"></script>
<script src="/share/sevices/apiService.js"></script>
</body>
</html>
